body {
  height: 100%;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#map {
 height: 600px;
 width: 100%;
}

#array-buttons{
  position: relative;
  float: right;
  top:-50px;
  visibility: hidden;
}

.round{
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-left: 20px;
  margin-right: 20px;
}
