<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

  <body>
    <h1>
      <%= title %>
    </h1>
    <p>Welcome to
      <%= title %>
    </p>
    Beach searcher, summer is comming!!

    <div id="locationField">
      <input id="autocomplete" placeholder="Enter your beach" type="text">
      </input>
      <button id="myBtn">search your beach</button>
    </div>

    <div class="array-buttons">
      <button type="button" class="round" id="red" name="red">redFlag</button>
      <button type="button" class="round" id="yellow" name="yellow">yellowFlag</button>
      <button type="button" class="round" id="green" name="green">greenFlag</button>
    </div>

    <div id="map"></div>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script async defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdJpr_rVP-qvc01Ci8ozFEnNVnS1wqUAc&libraries=places&callback=initMap"></script>
  <script type="text/javascript" src="/javascripts/main.js"></script>
</body>

</html>
